/* Set the size of the div element that contains the map */

html,
body {
  height: 100%;
  padding: 0;
  background-color:rgb(137, 218, 133);
  font-size: 18px;
  color: black;
  font-family: arial, helvetica, sans-serif;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.header {
	background-color:rgb(66, 111, 20);
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.title {
	color: rgb(56, 93, 56);
	font-family: arial, helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	padding-top: 15px;
	
}

.subtitle {
	color: rgb(170, 181, 250);
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
  padding-bottom: 15px;
  max-width: 50vw;
}

#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  font-size: 15px;
  color: black;
}
