/* Set the size of the div element that contains the map */

html,
body {
  height: 100%;
  padding: 0;
  background-color:#313830;
  font-size: 18px;
  color: black;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.header {
  background-color:rgb(66, 111, 20);
  top:0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.title {
	color: rgb(156, 226, 156);
	font-family: arial, helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;	
	margin-top: 0px;
}

.subtitle {
	color: rgb(215, 218, 190);
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
  	padding-bottom: 15px;
}

.sigList {
	margin-left: 15vw;
	margin-right: 15vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	display:flex;
	width:min-content;
}

@media only screen and (max-width: 1400px) {
	.sigList {
		margin-left: 5vw;
		margin-right: 0;
		width:min-content;
	}
  }

.contentHeader {
	color: rgb(255, 255, 255);
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 15px;
	padding-left: 1vw;
	padding-right: 1vw;
}

@media only screen and (max-width: 1400px) {
	.contentHeader {
		align-items: center;
		margin-left: 10%;
		margin-right:10%;
	}
  }

.contents {
	color: rgb(255, 255, 255);
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	text-align: left;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 1vw;
	padding-right: 1vw;
	vertical-align: middle;
	width:40vw;
}

@media only screen and (max-width: 1400px) {
	.contents {
		align-items: center;
		margin-left: 10%;
		margin-right:10%;
		width:75vw;
	}
  }

/* LINKS */
a {
	color: rgb(2, 220, 2);
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
}

a:hover {
	color: rgb(255, 255, 255);
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
}

.stoneHenge {
	margin-top:1vw;
	height:auto;
}

@media only screen and (max-width: 1400px) {
	.stoneHenge {
		display: none;
	}
  }

.image1{
	vertical-align: middle;	
}

#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  font-size: 15px;
  color: black;
}

.footer {
	background-color:rgb(66, 111, 20);
	position: static;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
	
.foottext {
	color: rgb(215, 218, 190);
	font-family: arial, helvetica, sans-serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 10px;
}


