/* Set the size of the div element that contains the map */

html,
body {
  height: 100%;
  padding: 0;
  background-color:#313830;
  font-size: 18px;
  color: black;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.header {
  background-color:rgb(66, 111, 20);
  top:0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.title {
	color: rgb(156, 226, 156);
	font-family: arial, helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;	
	margin-top: 0px;
}

.subtitle {
	color: rgb(215, 218, 190);
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
  	padding-bottom: 15px;
}

.contentHeader {
	color: rgb(255, 255, 255);
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 15px;
	padding-left: 20vw;
	padding-right: 20vw;
}
.contents {
	color: rgb(255, 255, 255);
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 20vw;
	padding-right: 20vw;
}

#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  font-size: 15px;
  color: black;
}

.footer {
	background-color:rgb(66, 111, 20);
	position: static;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
	
.foottext {
	color: rgb(215, 218, 190);
	font-family: arial, helvetica, sans-serif;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 10px;
}

.stoneHenge {
	float: right;
	
}
